{extend name="layout"}

{block name='content'}
	{empty name="cate"}
	<form method="post" action="{:url('admin/cate/save')}">
		<div class="form-group col-6">
			<label>分类名称</label>
			<input type="text" name="name" class="form-control">
	    </div>
	    <div class="form-group col-6">
	    	<button class="btn btn-primary">提交</button>
	    </div>
	</form>
	{else/}
	<form method="post" action="{:url('admin/cate/update', ['id' => $cate->id])}">
		<div class="form-group col-6">
			<label>分类名称</label>
			<input type="text" name="name" class="form-control" value="{$cate->name}">
	    </div>
	    <input type="hidden" name="_method" value="PUT">
	    <div class="form-group col-6">
	    	<button class="btn btn-primary">提交</button>
	    </div>

	</form>
	{/empty}
	{include file="error"}
{/block}
