{extend name="layout"}

{block name='content'}
	
	<form method="post" action="{:url('admin/link/update', ['id' => $link->id])}">
		<div class="form-group col-6">
			<label>链接文字</label>
			<input type="text" name="name" class="form-control" value="{$link->name}">
	    </div>
	    <div class="form-group col-6">
			<label>链接地址</label>
			<input type="text" name="url" class="form-control" value="{$link->url}">
	    </div>
	    <div class="form-group col-6">
			<label>排序</label>
			<input type="number" name="display_order" class="form-control" value="{$link->display_order}">
	    </div>
	    <div class="form-group col-6">
			<label>是否启用</label>
			<div>
				 <input type="radio" name="disabled" value="0" {if $link->disabled == 0} checked {/if}>是
			     <input type="radio" name="disabled" value="1" {if $link->disabled == 1} checked {/if}>否
		    </div>
	    </div>
	    <input type="hidden" name="_method" value="PUT">
	    <div class="form-group col-6">
	    	<button class="btn btn-primary">提交</button>
	    </div>
	</form>
	{include file="error"}
{/block}
